body{
    background-color: rgba(0, 0, 0, 0.892);
    font-family: sans-serif,;
}
p{
    color: white;
}
.para{
    color: yellow;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 20px;
    margin-top: 20px;
}
.card{
    background-color: rgba(5, 5, 5, 0.7);
    border-radius: 20px;
    height: 600px;
    width: 350px;
    text-align: center;
}
button{
    width: 240px;
    height: 40px;
    margin-bottom: 20px;
    background-color: #737070ba;
    color: aliceblue;
}
a{
    text-decoration: none;
    
    width: 240px;
    height: 40px;
    
}

#name{
    font-size: 30px;
    margin: 0;
    padding: 0;
}
#location{
    font-size: 15px;
    margin: 5px;
}

